<head>
  <%= javascript_include_tag "tag" %>
  <%= javascript_include_tag "keymaster" %>
  <%= stylesheet_link_tag "tag/show" %>
</head>

<% if @tag %>
<div class="title">
  <%= @tag.text.upcase %>
</div>

<div id="trending-whine" data-tag-name="<%= @tag.text %>">
</div>

<div id="next">
  <%= image_tag("arrow-right.jpg") %>
</div>

<% else %>
Sorry, there are no whines tagged with "<%= @text %>"
<% end %>
